build/*
src/web/node_modules/*
src/chartIO/node_modules/*
src/occ-kernal/node_modules/*
src/web/build
src/chartIO/build
src/occ-kernal/build
*.DS_Store
*build/
*node_modules/
.clangd
.cache
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
*.out


